<style>
	footer {
	  font-family: 'Poppins', serif;
      background: #ffe6cc;
      color: black;
      padding: 50px 0;
	  text-align: center;
    }
	
	footer .footer-images-container {
  		display: flex;
  		justify-content: center;
  		align-items: center;
  		text-align: center;
	}

	footer img {
 		 margin: 0 10px; /* Optional: space between images */
	}
	
	.text-white{
    	color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
	}

	.me-2{
		margin-right:.5rem!important;
	}

</style>
<footer>
	{% include socials.html %}
</footer>