<style>
	.container-fluid {
	  font-family: 'Poppins', serif;
      background: #ffe6cc;
      color: black;
      padding: 50px 0;
	  text-align: center;
    }
	
	.container-fluid .footer-images-container {
		display: flex;
		justify-content: center;
  		align-items: center;
  		text-align: center;
	}

	.text-white{
    	color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
	}

	.me-2{
		margin-right:.5rem!important;
	}

</style>
<footer class="container-fluid">
	{% include socials.html %}
</footer>