
<style>
  .container {
    margin: 20px auto;
    border: 1px;
    font-size: 17px;
    font-weight: 300;
  }

  .row {
    flex-wrap: unset !important;
  }

  .col-form-label {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  h1 {
    text-align: left;
    margin-bottom: 30px;
  }

  .percent {
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: right;
    pointer-events: none;
  }

  .weight {
    width: 100%;
    text-align: right;
  }

  .topingredient {
    margin-bottom: 10px;
  }

  .ingredient {
    margin-bottom: 10px;
  }

  .ingredients {
    width: 100%;
    text-align: left;
    padding-left: 5;
    margin-right: 50px;
  }

  @media print { .non-printable { display: none; } }
</style>



<div class="container">
  <p style="margin-bottom: 10px;">En panadería se usa la fórmula panadera para conocer la proporción de los ingredientes
    en relación a la harina. </p>
  <p>A partir de la fórmula se puede calcular el peso de los ingredientes para cualquier cantidad de unidades a
    preparar.</p>
  <p class="non-printable">Escribe los pesos de los ingredientes para obtener la fórmula.</p>
  <form id="breadCalculator">
    <div class="form-group row topingredient">
      <label for="total" class="col-sm-3 col-form-label">Ingredientes</label>
      <label for="total" class="col-sm-2 col-form-label">Pesos (g)</label>
      <label for="total" class="col-sm-2 col-form-label">Fórmula (%)</label>
    </div>
    <div class="form-group row topingredient">
      <label for="flour" class="col-sm-3 col-form-label">Harina</label>
      <div class="col-sm-2">
        <input type="number" class="form-control weight" id="flour" name="flour" value="600" required>
      </div>
      <div class="col-sm-2">
        <input type="text" class="form-control percent" id="flourPercent" value="100%" readonly>
      </div>
    </div>
    <div id="ingredientFields">
      <div class="form-group row ingredient">
        <label for="water" class="col-sm-3 col-form-label">Agua</label>
        <div class="col-sm-2">
          <input type="number" class="form-control weight" id="water" name="water" value="330" required>
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control percent" id="waterPercent" readonly>
        </div>
      </div>
      <div class="form-group row ingredient">
        <label for="yeast" class="col-sm-3 col-form-label">Levadura</label>
        <div class="col-sm-2">
          <input type="number" class="form-control weight" id="yeast" name="yeast" value="6" required>
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control percent" id="yeastPercent" readonly>
        </div>
      </div>
      <div class="form-group row ingredient">
        <label for="salt" class="col-sm-3 col-form-label">Sal</label>
        <div class="col-sm-2">
          <input type="number" class="form-control weight" id="salt" name="salt" value="12" required>
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control percent" id="saltPercent" readonly>
        </div>
      </div>
      <div class="form-group row ingredient">
        <div class="col-sm-3">
          <input type="text" class="ingredients form-control" value="Azúcar">
        </div>
        <div class="col-sm-2">
          <input type="number" class="form-control weight" value="30">
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control percent" id="ing1Percent" readonly>
        </div>
      </div>
      <div class="form-group row ingredient">
        <div class="col-sm-3">
          <input type="text" class="ingredients form-control" value="Mantequilla">
        </div>
        <div class="col-sm-2">
          <input type="number" class="form-control weight" value="30">
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control percent" readonly>
        </div>
      </div>
    </div>
    <div class="form-group row topingredient">
      <label for="total" class="col-sm-3 col-form-label">Total</label>
      <div class="col-sm-2">
        <input type="number" class="form-control weight" id="total" name="total" readonly>
      </div>
      <div class="col-sm-2">
        <input type="text" class="form-control percent" id="totalPercent" readonly>
      </div>
    </div>
    <button type="button" class="btn btn-primary non-printable" id="addIngredientButton">Agregar otro ingrediente</button>
  </form>
</div>


<script>
  // Function to calculate the baker's formula

  function getValue(value) {
    if (value === '') return parseFloat(0);
    else return parseFloat(value);
  }

  function calculateBreadFormula() {
    const flour = getValue(document.getElementById('flour').value);
    // Obtener los campos de entrada para cada ingrediente
    const ingredientInputs = document.querySelectorAll('.ingredient');

    let weights = 0;
    let formula = 0;

    // Iterar sobre cada ingrediente
    ingredientInputs.forEach(input => {
      const weight = getValue(input.querySelector('.weight').value);
      const percent = (weight / flour) * 100;
      input.querySelector('.percent').value = `${percent.toFixed(2)}%`;
      weights += weight;
      formula += percent;
    });

    let total = flour + weights;
    let totalPercent = 100 + formula;

    document.getElementById('total').value = `${total.toFixed(2)}`;
    document.getElementById('totalPercent').value = `${totalPercent.toFixed(2)}%`;
  }

  function addIngredientField() {
    const ingredientFields = document.getElementById('ingredientFields');

    const ingredientField = document.createElement('div');
    ingredientField.classList.add('form-group', 'row', 'ingredient');

    ingredientField.innerHTML = `
          <div class="col-sm-3">
            <input type="text" class="form-control ingredients" value="">
          </div>
          <div class="col-sm-2">
            <input type="number" class="form-control weight" value="0">
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control percent" readonly>
          </div>
        `;

    ingredientFields.appendChild(ingredientField);
    const inputs = document.querySelectorAll('.form-control');
    inputs.forEach(input => {
      input.addEventListener('input', calculateBreadFormula);
    });
  }

  calculateBreadFormula();
  // Event listener para agregar un nuevo campo de ingrediente
  document.getElementById('addIngredientButton').addEventListener('click', addIngredientField);

  // Event listener to calculate the formula when the user inputs or changes a quantity
  const inputs = document.querySelectorAll('.form-control');
  inputs.forEach(input => {
    input.addEventListener('input', calculateBreadFormula);
  });
</script>