<script>
 const formulas = {
  "canilla": {
   name: "Pan Canilla",
   units: 2,
   weight_per_unit: 252,
   ingredients: [
    {
     name: "Harina Panadera (12%)",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 55
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Azúcar",
     percent: 5
    },
    {
     name: "Mantequila",
     percent: 5
    }
   ]
  },
  "frances": {
   name: "Pan Francés",
   units: 6,
   weight_per_unit: 110,
   ingredients: [
    {
     name: "Harina de trigo (todo uso)",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 50
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Azúcar",
     percent: 5
    },
    {
     name: "Grasa",
     percent: 5
    }
   ]
  },
  "yuca": {
   name: "Pan de Yuca",
   units: 12,
   weight_per_unit: 45,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Puré de yuca blanca",
     percent: 38
    },
    {
     name: "Agua",
     percent: 42
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 3
    },
    {
     name: "Huevos Ligeramente Batidos",
     percent: 8
    },
    {
     name: "Mantequila sin sal",
     percent: 8
    },
    {
     name: "Azúcar",
     percent: 8
    },
    {
     name: "Aceite vegetal/canola",
     percent: 6
    },
    {
     name: "Leche en Polvo",
     percent: 2
    }
   ]
  },
  "yucabiga": {
   name: "Pan de Yuca masa mejorada con prefermento Biga",
   units: 12,
   weight_per_unit: 45,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Puré de yuca blanca",
     percent: 46
    },
    {
     name: "Agua",
     percent: 34
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 3
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 10
    },
    {
     name: "Mantequilla sin sal",
     percent: 10
    },
    {
     name: "Azúcar",
     percent: 10
    },
    {
     name: "Aceite vegetal/canola",
     percent: 7
    },
    {
     name: "Leche en polvo",
     percent: 2
    },
    {
     name: "Prefermento Biga 80%",
     percent: 39
    }
   ]
  },
  "yucatalvina": {
   name: "Pan de Yuca masa mejorada con Talvina",
   units: 12,
   weight_per_unit: 45,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Puré de yuca blanca",
     percent: 44
    },
    {
     name: "Agua",
     percent: 25
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 3
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 9
    },
    {
     name: "Mantequilla sin sal",
     percent: 9
    },
    {
     name: "Azúcar",
     percent: 5
    },
    {
     name: "Aceite vegetal/canola",
     percent: 7
    },
    {
     name: "Leche en polvo",
     percent: 2
    },
    {
     name: "Talvina",
     percent: 50
    }
   ]
  },
  "banquete": {
   name: "Pan de Banquete",
   units: 12,
   weight_per_unit: 40,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 50
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Huevos ligeramente Batidos",
     percent: 5
    },
    {
     name: "Grasa",
     percent: 5
    },
    {
     name: "Azúcar",
     percent: 5
    },
    {
     name: "Leche en Polvo",
     percent: 1
    }
   ]
  },
  "sobao": {
   name: "Pan Sobao",
   units: 1,
   weight_per_unit: 600,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 40
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Mantequilla sin sal",
     percent: 9
    },
    {
     name: "Azúcar",
     percent: 3
    },
    {
     name: "Extracto de malta",
     percent: 2
    },
    {
     name: "Leche en Polvo",
     percent: 5
    }
   ]
  },
  "sandwichmigaaireada": {
   name: "Pan de Sandwich miga aireada tipo brioche",
   units: 1,
   weight_per_unit: 900,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 25
    },
    {
     name: "Levadura instantánea",
     percent: 2
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Aceite canola/maiz",
     percent: 10
    }, 
    {
     name: "Azúcar",
     percent: 7
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 20
    },
    {
     name: "Leche en polvo",
     percent: 2
    }
   ]
  },
  "sandwichmigatupida": {
   name: "Pan de Sandwich miga tupida y cerrada",
   units: 1,
   weight_per_unit: 900,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 25
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Aceite canola/maiz",
     percent: 9
    },
    {
     name: "Azúcar",
     percent: 7
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 20
    },
   ]
  },
  "hamburguesa": {
   name: "Pan de Hamburguesa",
   units: 8,
   weight_per_unit: 100,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 30
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 20
    },
    {
     name: "Mantequilla sin sal o Aceite canola/maiz",
     percent: 10
    },
    {
     name: "Azúcar",
     percent: 5
    },
    {
     name: "Leche en Polvo",
     percent: 5
    }
   ]
  },
  "papa": {
   name: "Pan de papa",
   units: 8,
   weight_per_unit: 100,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 30
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 10
    },
    {
     name: "Mantequilla sin sal o Aceite canola/maiz",
     percent: 5
    },
    {
     name: "Azúcar",
     percent: 5
    },
    {
     name: "Leche en Polvo",
     percent: 5
    },
    {
     name: "Papa cocida",
     percent: 20
    }
   ]
  },
  "sliders": {
   name: "(Sliders) Mini Pan de Hamburguesa",
   units: 8,
   weight_per_unit: 60,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 40
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 5
    },
    {
     name: "Mantequilla sin sal o Aceite canola/maiz",
     percent: 10
    },
    {
     name: "Azúcar",
     percent: 5
    },
    {
     name: "Leche en Polvo",
     percent: 5
    }
   ]
  },
  "jojoto": {
   name: "Pan de Jojoto",
   units: 1,
   weight_per_unit: 1110,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 68,
     main: true,
    },
    {
     name: "Harina de maiz/mecla de cachapas P.A.N",
     percent: 32,
     main: true
    },
    {
     name: "Agua tibia para remojar la harina de maiz/mezcla de cachapas",
     percent: 27
    },
    {
     name: "Agua tibia para hidratar la masa",
     percent: 40
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Mantequilla sin sal",
     percent: 5
    },
    {
     name: "Azúcar",
     percent: 15
    },
    {
     name: "Leche en Polvo",
     percent: 4
    }
   ]
  },
  "jojotopoolish": {
   name: "Pan de Jojoto masa mejorada con Prefermento Poolish",
   units: 1,
   weight_per_unit: 1110,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 59,
     main: true,
    },
    {
     name: "Harina de maiz/mecla de cachapas P.A.N",
     percent: 41,
     main: true
    },
    {
     name: "Agua tibia para remojar la harina de maiz/mezcla de cachapas",
     percent: 34
    },
    {
     name: "Agua tibia para hidratar la masa",
     percent: 24
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Mantequilla sin sal",
     percent: 6
    },
    {
     name: "Azúcar",
     percent: 19
    },
    {
     name: "Leche en Polvo",
     percent: 5
    },
    {
     name: "Prefermento Poolish",
     percent: 54
    }
   ]
  },
  "chino": {
   name: "Pan Chino",
   units: 10,
   weight_per_unit: 54,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 40
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 1
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 10
    },
    {
     name: "Aceite vegetal/canola",
     percent: 10
    },
    {
     name: "Azúcar",
     percent: 20
    },
    {
     name: "Leche en polvo",
     percent: 2
    }
   ]
  },
  "campesino": {
   name: "Pan Campesino",
   units: 1,
   weight_per_unit: 474,
   ingredients: [
    {
     name: "Harina Panadera (12%)",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 55
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Grasa",
     percent: 5
    },
    {
     name: "Azúcar",
     percent: 5
    }
   ]
  },
  "campesinopiefrances": {
   name: "Pan Campesino masa mejorada con Pie francés",
   units: 1,
   weight_per_unit: 474,
   ingredients: [
    {
     name: "Harina Panadera (12%)",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 65
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 4
    },
    {
     name: "Grasa (Mantequilla sin sal)",
     percent: 11
    },
    {
     name: "Azúcar",
     percent: 11
    },
    {
     name: "Prefermento Pie Francés",
     percent: 191
    }
   ]
  },
  "gallego": {
   name: "Pan Tipo Gallego masa mejorada con masa madre líquida",
   units: 1,
   weight_per_unit: 576,
   ingredients: [
    {
     name: "Harina Panadera (13%)",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 70
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Masa Madre natural Líquida",
     percent: 20
    }
   ]
  },
  "molletegallego": {
   name: "Pan Tipo Mollete Gallego masa mejorada con Pie francés",
   units: 1,
   weight_per_unit: 1008,
   ingredients: [
    {
     name: "Harina Panadera (13%)",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 77
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Prefermento Pie Francés",
     percent: 52
    }
   ]
  },
  "brioche": {
   name: "Pan Brioche",
   units: 8,
   weight_per_unit: 100,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 25
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 1.8
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 30
    },
    {
     name: "Mantequilla sin sal",
     percent: 30
    },
    {
     name: "Azúcar",
     percent: 10
    },
    {
     name: "Leche en polvo",
     percent: 5
    }
   ]
  },
  "leche": {
   name: "Pan de leche",
   units: 12,
   weight_per_unit: 45,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 35
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 1
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 20
    },
    {
     name: "Mantequilla sin sal",
     percent: 15
    },
    {
     name: "Azúcar",
     percent: 20
    },
    {
     name: "Leche en polvo",
     percent: 5
    }
   ]
  },
   "lechebiga": {
   name: "Pan de leche masa mejora con prefermento biga 125%",
   units: 12,
   weight_per_unit: 45,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 3
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 1
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 27
    },
    {
     name: "Mantequilla sin sal",
     percent: 20
    },
    {
     name: "Azúcar",
     percent: 27
    },
    {
     name: "Leche en polvo",
     percent: 7
    },
    {
     name: "Prefermento Biga",
     percent: 80
    }
   ]
  },
  "lechetalvina": {
   name: "Pan de leche masa mejorada con Talvina",
   units: 12,
   weight_per_unit: 45,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 18
    },
    {
     name: "Levadura instantánea",
     percent: 0.2
    },
    {
     name: "Sal",
     percent: 1
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 23
    },
    {
     name: "Mantequilla sin sal",
     percent: 17
    },
    {
     name: "Azúcar",
     percent: 19
    },
    {
     name: "Leche en polvo",
     percent: 6
    },
    {
     name: "Talvina",
     percent: 45
    }
   ]
  },
  "pinitaspoolish": {
   name: "Pan Piñitas masa mejorada con prefermento Poolish",
   units: 12,
   weight_per_unit: 50,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 40
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 1
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 12
    },
    {
     name: "Mantequilla sin sal",
     percent: 12
    },
    {
     name: "Azúcar",
     percent: 23
    },
    {
     name: "Leche en polvo",
     percent: 2
    },
    {
     name: "Anís en grano (molido)",
     percent: 2
    },
    {
     name: "Prefermento Poolish",
     percent: 33
    }
   ]
  },
  "golfeado": {
   name: "Golfeado",
   units: 6,
   weight_per_unit: 100,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 25
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 1
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 20
    },
    {
     name: "Mantequilla sin sal",
     percent: 20
    },
    {
     name: "Azúcar",
     percent: 15
    },
    {
     name: "Leche en polvo",
     percent: 5
    },
    {
     name: "Anís en grano (molido)",
     percent: 2
    },
    {
     name: "Miel",
     percent: 1
    },
    {
     name: "Vainilla",
     percent: 1
    }
   ]
  },
  "golfeadorelleno": {
   name: "Relleno para Golfeado",
   units: 1,
   weight_per_unit: 242,
   ingredients: [
    {
     name: "Queso Blanco",
     percent: 100,
     main: true,
    },
    {
     name: "Papelón",
     percent: 100,
     main: true
    },
    {
     name: "Azúcar",
     percent: 100,
     main: true
    },
    {
     name: "Anís en grano (molido)",
     percent: 1
    },
    {
     name: "Canela en polvo",
     percent: 1
    }
   ]
  },
  "golfeadomelao": {
   name: "Melao para Golfeado",
   units: 1,
   weight_per_unit: 310,
   ingredients: [
    {
     name: "Papelón",
     percent: 100,
     main: true
    },
    {
     name: "Agua",
     percent: 50,
    },
    {
     name: "Especias",
     percent: 5
    }
   ]
  },
  "pinitas": {
   name: "Pan Piñitas",
   units: 12,
   weight_per_unit: 50,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 45
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 1
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 10
    },
    {
     name: "Mantequilla sin sal",
     percent: 10
    },
    {
     name: "Azúcar",
     percent: 20
    },
    {
     name: "Leche en polvo",
     percent: 2
    },
    {
     name: "Anís en grano (molido)",
     percent: 2
    }
   ]
  },
  "coco": {
   name: "Pan de Coco",
   units: 24,
   weight_per_unit: 30,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Leche de Coco",
     percent: 35
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 1
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 20
    },
    {
     name: "Mantequilla sin sal",
     percent: 15
    },
    {
     name: "Azúcar",
     percent: 20
    },
    {
     name: "Crema de Coco",
     percent: 5
    }
   ]
  },
  "cococoberturasrellenos": {
   name: "Pan de Coco",
   units: 1,
   weight_per_unit: 144,
   ingredients: [
    {
     name: "Coco Rallado",
     percent: 100,
     main: true,
    },
    {
     name: "Leche de Coco",
     percent: 50
    },
    {
     name: "Azúcar",
     percent: 50
    }
   ]
   },
   "tovareno": {
   name: "Pan Tovareño",
   units: 3,
   weight_per_unit: 256,
   ingredients: [
    {
     name: "Harina de trigo(todo uso)",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 38
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 1
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 10
    },
    {
     name: "Mantequilla sin sal",
     percent: 10
    },
    {
     name: "Azúcar morena",
     percent: 30
    },
    {
     name: "Leche en polvo",
     percent: 5
    },
    {
     name: "Extracto de malta (polvo)",
     percent: 10
    },
    {
     name: "Talvina",
     percent: 30
    }
   ]
  },
  "tovarenoalino": {
   name: "Pan Tovareño",
   units: 1,
   weight_per_unit: 123,
   ingredients: [
    {
     name: "Harina de trigo(todo uso)",
     percent: 100,
     main: true,
    },
    {
     name: "Papelon rallado/Azúcar morena ",
     percent: 100
    },
    {
     name: "Alimento para niños(polvo)",
     percent: 50
    },
    {
     name: "Harina de maiz",
     percent: 30
    },
    {
     name: "Leche en polvo",
     percent: 15
    },
    {
     name: "Canela en polvo",
     percent: 2
    },
    {
     name: "Clavos de olor",
     percent: 2
    },
    {
     name: "Nuez moscada",
     percent: 2
    },
    {
     name: "Anis en gramos",
     percent: 2
    },
    {
     name: "Esencia de vainilla",
     percent: 2
    }
   ]
   },
   "camaleon": {
   name: "Pan Camaleon",
   units: 1,
   weight_per_unit: 515,
   ingredients: [
    {
     name: "Harina panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 38
    },
    {
     name: "Sal",
     percent: 1
    },
    {
     name: "Papelón/Panela",
     percent: 1
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 5
    },
    {
     name: "Mantequilla sin sal",
     percent: 10
    },
    {
     name: "Azúcar",
     percent: 30
    },
    {
     name: "Miel",
     percent: 1
    },
    {
     name: "Leche en polvo",
     percent: 5
    },
    {
     name: "Talvina",
     percent: 25
    }
   ]
  },
   "jamon": {
   name: "Pan de Jamón",
   units: 1,
   weight_per_unit: 560,
   ingredients: [
    {
     name: "Harina panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 45
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 15
    },
    {
     name: "Mantequilla sin sal o Aceite de canola/maíz",
     percent: 10
    },
    {
     name: "Azúcar",
     percent: 10
    },
    {
     name: "Leche en Polvo",
     percent: 5
    }
   ]
  },
  "perros": {
   name: "Pan de Perros Calientes",
   units: 10,
   weight_per_unit: 80,
   ingredients: [
    {
     name: "Harina panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 40
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 10
    },
    {
     name: "Mantequilla sin sal o Aceite de canola/maíz",
     percent: 10
    },
    {
     name: "Azúcar",
     percent: 5
    },
    {
     name: "Leche en Polvo",
     percent: 5
    }
   ]
  },
  "avena": {
   name: "Pan de Avena",
   units: 1,
   weight_per_unit: 900,
   ingredients: [
    {
     name: "Harina de trigo (todo uso)",
     percent: 80,
     main: true,
    },
    {
     name: "Afrecho",
     percent: 5,
     main: true,
    },
    {
     name: "Avena en polvo",
     percent: 15,
     main: true,
    },
    {
     name: "Agua/Leche líquida",
     percent: 48
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 1
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 20
    },
    {
     name: "Mantequilla sin sal",
     percent: 8
    },
    {
     name: "Azúcar",
     percent: 5
    },
    {
     name: "Extracto de malta",
     percent: 2
    },
    {
     name: "Leche en Polvo",
     percent: 2
    },
    {
     name: "Avena en hojuelas",
     percent: 2
    }
   ]
  },
  "cachitos": {
   name: "Cachitos",
   units: 6,
   weight_per_unit: 100,
   ingredients: [
    {
     name: "Harina panadera (12%)",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 25
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 5
    },
    {
     name: "Mantequilla sin sal/Aceita de canola/maiz",
     percent: 10
    },
    {
     name: "Azúcar",
     percent: 10
    },
    {
     name: "Leche completa líquida",
     percent: 20
    },
    {
     name: "Vainilla",
     percent: 1
    }
   ]
  },
  "cachitosrelleno": {
   name: "Relleno de Cachitos",
   units: 1,
   weight_per_unit: 414,
   ingredients: [
    {
     name: "Jamón ahumado",
     percent: 100,
     main: true,
    },
    {
     name: "Tocineta",
     percent: 15
    }
   ]
  },
  "afrecho": {
   name: "Pan de Afrecho",
   units: 1,
   weight_per_unit: 900,
   ingredients: [
    {
     name: "Harina de trigo (todo uso)",
     percent: 80,
     main: true,
    },
    {
     name: "Afrecho",
     percent: 20,
     main: true,
    },
    {
     name: "Agua",
     percent: 52
    },
    {
     name: "Levadura instantánea",
     percent: 2
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 12
    },
    {
     name: "Mantequilla sin sal",
     percent: 6
    },
    {
     name: "Azúcar",
     percent: 5
    },
    {
     name: "Leche en polvo",
     percent: 2
    }
   ]
  },
  "afrechopiefrances": {
   name: "Pan de Afrecho mejorado con Pie francés",
   units: 1,
   weight_per_unit: 900,
   ingredients: [
    {
     name: "Harina de trigo (todo uso)",
     percent: 80,
     main: true,
    },
    {
     name: "Afrecho",
     percent: 20,
     main: true,
    },
    {
     name: "Agua",
     percent: 50
    },
    {
     name: "Levadura instantánea",
     percent: 2
    },
    {
     name: "Sal",
     percent: 1
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 14
    },
    {
     name: "Mantequilla sin sal",
     percent: 7
    },
    {
     name: "Azúcar",
     percent: 6
    },
    {
     name: "Leche en polvo",
     percent: 2
    },
    {
     name: "Prefermento Pie Francés",
     percent: 32
    }
   ]
  },
  "jamonrellenos": {
   name: "Pan de Jamón",
   units: 1,
   weight_per_unit: 672,
   ingredients: [
    {
     name: "Jamón ahumado",
     percent: 100,
     main: true,
    },
    {
     name: "Tocineta",
     percent: 15
    },
    {
     name: "Aceitunas verdes rellenas",
     percent: 15
    },
    {
     name: "Pasas negras",
     percent: 10
    },
    {
     name: "Papelón rallado",
     percent: 4
    }
   ]
   },
  "arepa": {
   name: "Arepas",
   units: 10,
   weight_per_unit: 160,
   ingredients: [
    {
     name: "Harina de maiz precocida (P.A.N) ",
     percent: 100,
     main: true,
    },
    {
     name: "Agua tibia",
     percent: 155
    },
    {
     name: "Sal",
     percent: 1
    }
   ]
   },
  "poolish": {
   name: "Poolish",
   units: 1,
   weight_per_unit: 120,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 100
    },
    {
     name: "Levadura instantánea",
     percent: 0.1
    }
   ]
  },
  "biga": {
   name: "Biga",
   units: 1,
   weight_per_unit: 120,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 45
    },
    {
     name: "Levadura instantánea",
     percent: 0.33
    }
   ]
  },
  "masa-vieja": {
   name: "Masa vieja",
   units: 1,
   weight_per_unit: 168,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 65
    },
    {
     name: "Levadura instantánea",
     percent: 0.33
    },
    {
     name: "Sal",
     percent: 2
    }
   ]
  },
  "masa-madre": {
   name: "Refresco de Masa madre",
   units: 1,
   weight_per_unit: 120,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 100
    },
    {
     name: "Pié de Masa Madre",
     percent: 100
    }
   ]
  },
  "talvina": {
   name: "Talvina",
   units: 1,
   weight_per_unit: 138,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 150
    },
    {
     name: "Azúcar",
     percent: 30
    },
    {
     name: "Papelón",
     percent: 30
    }
   ]
  },
  "talvina-express": {
   name: "Talvina Express",
   units: 1,
   weight_per_unit: 138,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 150
    },
    {
     name: "Azúcar",
     percent: 30
    },
    {
     name: "Papelón",
     percent: 30
    },
    {
     name: "Masa Madre natural líquida",
     percent: 30
    }
   ]
  },
  "talvina-refresco": {
   name: "Refresco de Talvina",
   units: 1,
   weight_per_unit: 138,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 150
    },
    {
     name: "Azúcar",
     percent: 30
    },
    {
     name: "Papelón",
     percent: 30
    },
    {
     name: "Talvina",
     percent: 310
    }
   ]
  }
 };
 const formula = formulas['{{ page.formula_name }}'];
 const formula2 = formulas['{{ page.second_formula_name }}'];
 const formula3 = formulas['{{ page.third_formula_name }}'];
</script>