<script>
 const formulas = {
  "canilla": {
   units: 2,
   weight_per_unit: 252,
   ingredients: [
    {
     name: "Harina Panadera (12%)",
     percent: 100,
     flour: true,
    },
    {
     name: "Agua",
     percent: 55
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Azúcar",
     percent: 5
    },
    {
     name: "Mantequila",
     percent: 5
    }
   ]
  },
  "gallego": {
   units: 1,
   weight_per_unit: 576,
   ingredients: [
    {
     name: "Harina Panadera (13%)",
     percent: 100,
     flour: true,
    },
    {
     name: "Agua",
     percent: 70
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Masa Madre",
     percent: 20
    }
   ]
  },
  "yuca": {
   units: 12,
   weight_per_unit: 45,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     flour: true,
    },
    {
     name: "Puré de yuca blanca",
     percent: 38
    },
    {
     name: "Agua",
     percent: 42
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 2.5
    },
    {
     name: "Huevos Ligeramente Batidos",
     percent: 8
    },
    {
     name: "Mantequila sin sal",
     percent: 8
    },
    {
     name: "Azúcar",
     percent: 8
    },
    {
     name: "Aceite vegetal/canola",
     percent: 6
    },
    {
     name: "Leche en Polvo",
     percent: 2
    }
   ]
  },
  "yucaprefermentobiga": {
   units: 12,
   weight_per_unit: 45,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     flour: true,
    },
    {
     name: "Puré de yuca blanca",
     percent: 46.3
    },
    {
     name: "Agua",
     percent: 33.7
    },
    {
     name: "Levadura instantánea",
     percent: 0.8
    },
    {
     name: "Sal",
     percent: 3
    },
    {
     name: "Huevos Ligeramente Batidos",
     percent: 9.7
    },
    {
     name: "Mantequila sin sal",
     percent: 9.7
    },
    {
     name: "Azúcar",
     percent: 9.7
    },
    {
     name: "Aceite vegetal/canola",
     percent: 7.3
    },
    {
     name: "Leche en Polvo",
     percent: 2.4
    },
    {
     name: "Prefermento Biga 80%",
     percent: 39.4
    }
   ]
  },
  "chinos": {
   units: 10,
   weight_per_unit: 54,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     flour: true,
    },
    {
     name: "Agua",
     percent: 40
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 0.5
    },
    {
     name: "Huevos Ligeramente Batidos",
     percent: 10
    },
    {
     name: "Aceite vegetal/canola",
     percent: 9.7
    },
    {
     name: "Azúcar",
     percent: 20
    },
    {
     name: "Leche en Polvo",
     percent: 2
    }
   ]
  }
 };
 const formula = formulas['{{ page.formula_name }}'];

</script>