<script>
 const formulas = {
  "canilla": {
   name: "Pan Canilla",
   units: 2,
   weight_per_unit: 252,
   ingredients: [
    {
     name: "Harina Panadera (12%)",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 55
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Azúcar",
     percent: 5
    },
    {
     name: "Mantequila",
     percent: 5
    }
   ]
  },
  "gallego": {
   name: "Pan Gallego",
   units: 1,
   weight_per_unit: 576,
   ingredients: [
    {
     name: "Harina Panadera (13%)",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 70
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Masa Madre",
     percent: 20
    }
   ]
  },
  "yuca": {
   name: "Pan de Yuca",
   units: 12,
   weight_per_unit: 45,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Puré de yuca blanca",
     percent: 38
    },
    {
     name: "Agua",
     percent: 42
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 3
    },
    {
     name: "Huevos Ligeramente Batidos",
     percent: 8
    },
    {
     name: "Mantequila sin sal",
     percent: 8
    },
    {
     name: "Azúcar",
     percent: 8
    },
    {
     name: "Aceite vegetal/canola",
     percent: 6
    },
    {
     name: "Leche en Polvo",
     percent: 2
    }
   ]
  },
  "yucabiga": {
   name: "Pan de Yuca masa mejorada con prefermento Biga",
   units: 12,
   weight_per_unit: 45,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Puré de yuca blanca",
     percent: 46
    },
    {
     name: "Agua",
     percent: 34
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 3
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 10
    },
    {
     name: "Mantequilla sin sal",
     percent: 10
    },
    {
     name: "Azúcar",
     percent: 10
    },
    {
     name: "Aceite vegetal/canola",
     percent: 7
    },
    {
     name: "Leche en polvo",
     percent: 2
    },
    {
     name: "Prefermento Biga 80%",
     percent: 39
    }
   ]
  },
  "yucatalvina": {
   name: "Pan de Yuca masa mejorada con Talvina",
   units: 12,
   weight_per_unit: 45,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Puré de yuca blanca",
     percent: 44
    },
    {
     name: "Agua",
     percent: 25
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 3
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 9
    },
    {
     name: "Mantequilla sin sal",
     percent: 9
    },
    {
     name: "Azúcar",
     percent: 5
    },
    {
     name: "Aceite vegetal/canola",
     percent: 7
    },
    {
     name: "Leche en polvo",
     percent: 2
    },
    {
     name: "Talvina",
     percent: 50
    }
   ]
  },
  "sandwichmigaaireada": {
   name: "Pan de Sandwich miga aireada tipo brioche",
   units: 1,
   weight_per_unit: 800,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 25
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 20
    },
    {
     name: "Azúcar",
     percent: 7
    },
    {
     name: "Aceite canola/maiz",
     percent: 10
    },
    {
     name: "Leche en polvo",
     percent: 2
    }
   ]
  },
  "sandwichmigatupida": {
   name: "Pan de Sandwich miga tupida y cerrada",
   units: 1,
   weight_per_unit: 800,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 25
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 20
    },
    {
     name: "Azúcar",
     percent: 7
    },
    {
     name: "Aceite canola/maiz",
     percent: 10
    }
   ]
  },
  "jojoto": {
   name: "Pan de Jojoto",
   units: 1,
   weight_per_unit: 1110,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 68,
     main: true,
    },
    {
     name: "Harina de maiz/mecla de cachapas P.A.N",
     percent: 32,
     main: true
    },
    {
     name: "Agua tibia para remojar la harina de maiz/mezcla de cachapas",
     percent: 27
    },
    {
     name: "Agua tibia para hidratar la masa",
     percent: 40
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Azúcar",
     percent: 15
    },
    {
     name: "Mantequilla sin sal",
     percent: 5
    },
    {
     name: "Leche en Polvo",
     percent: 4
    }
   ]
  },
  "jojotopoolish": {
   name: "Pan de Jojoto masa mejorada con Prefermento Poolish",
   units: 1,
   weight_per_unit: 1110,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 59,
     main: true,
    },
    {
     name: "Harina de maiz/mecla de cachapas P.A.N",
     percent: 41,
     main: true
    },
    {
     name: "Agua tibia para remojar la harina de maiz/mezcla de cachapas",
     percent: 34
    },
    {
     name: "Agua tibia para hidratar la masa",
     percent: 24
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Azúcar",
     percent: 19
    },
    {
     name: "Mantequilla sin sal",
     percent: 6
    },
    {
     name: "Leche en Polvo",
     percent: 5
    },
    {
     name: "Prefermento Poolish",
     percent: 54
    }
   ]
  },
  "chino": {
   name: "Pan Chino",
   units: 10,
   weight_per_unit: 54,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 40
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 0.5
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 10
    },
    {
     name: "Aceite vegetal/canola",
     percent: 10
    },
    {
     name: "Azúcar",
     percent: 20
    },
    {
     name: "Leche en polvo",
     percent: 2
    }
   ]
  },
  "brioche": {
   name: "Pan Brioche",
   units: 8,
   weight_per_unit: 100,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 25
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 1.8
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 30
    },
    {
     name: "Mantequilla sin sal",
     percent: 30
    },
    {
     name: "Azúcar",
     percent: 10
    },
    {
     name: "Leche en polvo",
     percent: 5
    }
   ]
  },
  "coco": {
   name: "Pan de Coco",
   units: 24,
   weight_per_unit: 30,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Leche de Coco",
     percent: 35
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 1
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 20
    },
    {
     name: "Mantequilla sin sal",
     percent: 15
    },
    {
     name: "Azúcar",
     percent: 20
    },
    {
     name: "Crema de Coco",
     percent: 5
    }
   ]
  },
  "cococoberturasrellenos": {
   name: "Pan de Coco",
   units: 1,
   weight_per_unit: 144,
   ingredients: [
    {
     name: "Coco Rallado",
     percent: 100,
     main: true,
    },
    {
     name: "Leche de Coco",
     percent: 50
    },
    {
     name: "Azúcar",
     percent: 50
    }
   ]
   },
   "tovareno": {
   name: "Pan Tovareño",
   units: 3,
   weight_per_unit: 256,
   ingredients: [
    {
     name: "Harina de trigo(todo uso)",
     percent: 100,
     main: true,
    },
    {
     name: "Agua tibia",
     percent: 38
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 1
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 10
    },
    {
     name: "Mantequilla sin sal",
     percent: 10
    },
    {
     name: "Azúcar morena",
     percent: 30
    },
    {
     name: "Extracto de malta (polvo)",
     percent: 10
    },
    {
     name: "Talvina",
     percent: 30
    }
   ]
  },
  "tovarenoalino": {
   name: "Pan Tovareño",
   units: 1,
   weight_per_unit: 123,
   ingredients: [
    {
     name: "Harina de trigo(todo uso)",
     percent: 100,
     main: true,
    },
    {
     name: "Papelon rallado/Azúcar morena ",
     percent: 100
    },
    {
     name: "Alimento para niños(polvo)",
     percent: 50
    },
    {
     name: "Harina de maiz",
     percent: 30
    },
    {
     name: "Leche en polvo",
     percent: 15
    },
    {
     name: "Canela en polvo",
     percent: 2
    },
    {
     name: "Clavos de olor",
     percent: 2
    },
    {
     name: "Nuez moscada",
     percent: 2
    },
    {
     name: "Anis en gramos",
     percent: 2
    },
    {
     name: "Esencia de vainilla",
     percent: 2
    }
   ]
   },
   "jamon": {
   name: "Pan de Jamón",
   units: 1,
   weight_per_unit: 560,
   ingredients: [
    {
     name: "Harina panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 45
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 2
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 15
    },
    {
     name: "Mantequilla sin sal o Aceite de canola/maíz",
     percent: 10
    },
    {
     name: "Azúcar",
     percent: 10
    },
    {
     name: "Leche en Polvo",
     percent: 5
    }
   ]
  },
  "perros": {
   name: "Pan de Perros Calientes",
   units: 10,
   weight_per_unit: 80,
   ingredients: [
    {
     name: "Harina panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 40
    },
    {
     name: "Levadura instantánea",
     percent: 1
    },
    {
     name: "Sal",
     percent: 1.6
    },
    {
     name: "Huevos ligeramente batidos",
     percent: 10
    },
    {
     name: "Mantequilla sin sal/Aceite de canola/maíz",
     percent: 10
    },
    {
     name: "Azúcar",
     percent: 5
    },
    {
     name: "Leche en Polvo",
     percent: 5
    }
   ]
  },
  "jamonrellenos": {
   name: "Pan de Jamón",
   units: 1,
   weight_per_unit: 672,
   ingredients: [
    {
     name: "Jamón ahumado",
     percent: 100,
     main: true,
    },
    {
     name: "Tocineta",
     percent: 15
    },
    {
     name: "Aceitunas verdes rellenas",
     percent: 15
    },
    {
     name: "Pasas negras",
     percent: 10
    },
    {
     name: "Papelón rallado",
     percent: 4
    }
   ]
   },
  "poolish": {
   name: "Poolish",
   units: 1,
   weight_per_unit: 120,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 100
    },
    {
     name: "Levadura instantánea",
     percent: 0.1
    }
   ]
  },
  "biga": {
   name: "Biga",
   units: 1,
   weight_per_unit: 120,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 45
    },
    {
     name: "Levadura instantánea",
     percent: 0.33
    }
   ]
  },
  "masa-vieja": {
   name: "Masa vieja",
   units: 1,
   weight_per_unit: 168,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 65
    },
    {
     name: "Levadura instantánea",
     percent: 0.33
    },
    {
     name: "Sal",
     percent: 2
    }
   ]
  },
  "masa-madre": {
   name: "Refresco de Masa madre",
   units: 1,
   weight_per_unit: 120,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 100
    },
    {
     name: "Pié de Masa Madre",
     percent: 100
    }
   ]
  },
  "talvina": {
   name: "Talvina",
   units: 1,
   weight_per_unit: 124,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 150
    },
    {
     name: "Azúcar",
     percent: 30
    },
    {
     name: "Papelón",
     percent: 30
    }
   ]
  },
  "talvina-refresco": {
   name: "Refresco de Talvina",
   units: 1,
   weight_per_unit: 124,
   ingredients: [
    {
     name: "Harina Panadera",
     percent: 100,
     main: true,
    },
    {
     name: "Agua",
     percent: 150
    },
    {
     name: "Azúcar",
     percent: 30
    },
    {
     name: "Papelón",
     percent: 30
    },
    {
     name: "Talvina",
     percent: 310
    }
   ]
  }
 };
 const formula = formulas['{{ page.formula_name }}'];
 const formula2 = formulas['{{ page.second_formula_name }}'];
 const formula3 = formulas['{{ page.third_formula_name }}'];
</script>