<div class="bg-danger text-white fixed-top text-center d-flex align-items-center justify-content-center"
style="height: 50px;">
<p class="small font-weight-bold m-0">
    {{ site.data.anuncio.anuncio.texto }}
  <a href="{{ site.data.anuncio.anuncio.link }}" class="text-white font-weight-bold" style="text-decoration: underline;">
    {{ site.data.anuncio.anuncio.texto_link }}
  </a>
</p>
</div>
<header class="header" style="padding-top: 60px;">

	<div class="wrap">

		{% if site.data.settings.header_settings.logo_image %}
		<a href="{{ site.baseurl }}/" class="header__logo">
			<img src="{{ site.data.settings.header_settings.logo_image | relative_url }}" class="header__logo__img">
		</a>
		{% else %}
		<a href="{{ site.baseurl }}/" class="header__title title">
			{{ site.data.settings.basic_settings.main_title }}
		</a>
		{% endif %}

		<div class="menu">
			<div class="menu__toggle js-menu-toggle">
				<div class="menu__toggle__icon"><span></span></div>
			</div>
			<div class="menu__wrap">
				<ul class="menu__list">
					{% for item in site.data.settings.menu_settings.menu_items %}
					<li class="menu__list__item">
						<a href="{{ item.url | relative_url }}" class="menu__list__item__link">{{ item.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

	</div>

</header>