<!-- Page Info -->
<link rel="shortcut icon" href="{{ site.data.settings.basic_settings.favicon_image | relative_url }}">
<title>{% if page.url == "/" %}{{ site.data.settings.basic_settings.main_title }} - {{
  site.data.settings.basic_settings.site_title }} – {{ page.title }}{% else %}{{ page.title }} – {{
  site.data.settings.basic_settings.main_title }} - {{
  site.data.settings.basic_settings.site_title }}{% endif %}</title>
<meta name="description" content="{{ page.description | strip_html | xml_escape }}">
<meta name="keywords" content="{{ page.keywords | strip_html | xml_escape }}">

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="panesvenezolanos.com">
<meta property="twitter:url" content="{{ page.url | absolute_url }}">
<meta name="twitter:title" content="{% if page.url == " /" %}{{ site.data.settings.basic_settings.main_title }} - {{
  site.data.settings.basic_settings.site_title }} – {{ page.title }}{% else %}{{ page.title }} – {{
  site.data.settings.basic_settings.main_title }} – {{ site.data.settings.basic_settings.site_title }}{% endif %}">
<meta name="twitter:description" content="{{ page.description | strip_html | xml_escape }}">
<meta name="twitter:image" content="{{ page.featured_image | absolute_url }}">

<!-- Facebook OpenGraph -->
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.url == " /" %}{{ site.data.settings.basic_settings.main_title }} - {{
  site.data.settings.basic_settings.site_title }} – {{ page.title }}{% else %}{{ page.title }} – {{
  site.data.settings.basic_settings.main_title }} – {{ site.data.settings.basic_settings.site_title }}{% endif %}">
<meta property="og:description" content="{{ page.description | strip_html | xml_escape }}">
<meta property="og:image" content="{{ page.featured_image | absolute_url }}">
<meta property="og:site_name" content="{{ site.data.settings.basic_settings.main_title }}">

<!-- Meta Tags Generated via https://opengraph.dev -->