<ul class="socials">
	<li class="socials__item">
		<a href="https://www.instagram.com/hazpanencasa/" target="_blank" class="socials__item__link" title="hazpanencasa">
			<img src="/images/libro/AR-HazPan.jpeg" style="width: 60px;border-radius: 100%;">
		</a>
	</li>
	<li class="socials__item">
		<a href="https://www.instagram.com/1painalafois/" target="_blank" class="socials__item__link" title="1painalafois">
			<img src="/images/libro/JM-HazPan.JPG" style="width: 60px;border-radius: 100%;">
		</a>
	</li>
</ul>
