
<div class="container outline">
  <h3 class="wa_title">Incorpórate a nuestro grupo...</h3>
  <p class="hero__text editable">Si deseas estar enterado sobre el contenido y actividades que estamos planificando sobre los Panes Venezolanos, incorpórate a nuestro grupo de WhatsApp.</p>
  <p class="hero__text editable">Recibirás técnicas, procedimientos, recetas, historia de nuestros panes, invitación a eventos, reuniones y te enterarás de los próximos lanzamientos.</p>
  <p class="hero__text editable">¿Quieres entrar al grupo exclusivo sobre Panes Venezolanos?</p>
  <p>
   <a href="{{ site.data.settings.whatsapp.group1_link }}" class="button button--large">¡Sí quiero!</a>
 </p>
</div>
