<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>10 PANES... que te regresan a Venezuela</title>
  <meta name="description"
    content="Es tu introducción a la Panadería Venezolana y la oportunidad para reencontrarte con nuestros Panes Venezolanos, sus sabores y aromas únicos.">
  <meta name="keywords" content="10 PANES, Panes Venezolanos, Panadería Venezolana, Panaderia Venezolana">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="panesvenezolanos.com">
  <meta property="twitter:url" content="https://panesvenezolanos.com/libros/10-PANES/">
  <meta name="twitter:title" content="10 PANES ...que te regresan a Venezuela">
  <meta name="twitter:description"
    content="Es tu introducción a la Panadería Venezolana y la oportunidad para reencontrarte con nuestros Panes Venezolanos, sus sabores y aromas únicos.">
  <meta name="twitter:image" content="https://panesvenezolanos.com/images/libro/10-PANES/10-Panes.jpg">

  <!-- Facebook OpenGraph -->
  <meta property="og:url" content="https://panesvenezolanos.com/libros/10-PANES/">
  <meta property="og:type" content="article">
  <meta property="og:title" content="10 PANES ...que te regresan a Venezuela">
  <meta property="og:description"
    content="Es tu introducción a la Panadería Venezolana y la oportunidad para reencontrarte con nuestros Panes Venezolanos, sus sabores y aromas únicos.">
  <meta property="og:image" content="https://panesvenezolanos.com/images/libro/10-PANES/10-Panes.jpg">
  <meta property="og:site_name" content="panesvenezolanos.com">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <style>
    body {
      font-family: 'Poppins', serif;
    }

    .cta-button {
      background-color: #ff4500;
      color: white;
      padding: 12px 25px;
      border-radius: 30px;
      text-decoration: none;
      transition: background-color 0.3s ease;
      font-weight: bold;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }

    .cta-button:hover {
      background-color: #e03c00;
      color: white;
    }

    .mr-10 {
      margin-right: 10px;
    }

    .title {
      font-family: "Alfa Slab One", serif;
      font-size: calc(3rem + 2.7vw);
      line-height: 1.2;
      color: #00000f;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    .subtitle {
      font-family: "Poppins", serif;
      font-size: calc(0.6rem + 1.5vw);
      line-height: 1;
      color: #0f0f0f;
      margin-bottom: 20px;
    }

    .lead {
      font-size: 1.25rem;
      color: #333;
      margin-bottom: 30px;
    }

    .card-title {
      font-weight: 700;
      font-size: 1.25rem;
      color: #333;
    }

    .card-text {
      font-size: 1rem;
      color: #555;
    }

    .card-img-top:hover {
      transform: scale(1.05);
    }

    .accordion-button::after {
      font-size: 1.25rem;
    }

    .accordion-button {
      background-color: #f8f9fa;
      color: #333;
      font-weight: bold;
      transition: background-color 0.3s ease;
    }

    .accordion-button:hover {
      background-color: #e9ecef;
    }

    .accordion-item {
      border: 1px solid #ddd;
    }

    .accordion-body ul {
      padding-left: 20px;
      list-style-type: disc;
    }

    .text-muted {
      color: #6c757d;
    }

    .rounded-circle {
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }

    .container-fluid {
      background: #ffe6cc;
      color: white;
      padding: 50px 0;
    }

    .wbackground {
      background: #ffe6cc;
      color: white;
      padding: 50px 0;
    }

    .img-fluid {
      transition: transform 0.3s ease;
    }

    .img-fluid:hover {
      transform: scale(1.05);
    }

    .gallery img {
      transition: transform 0.3s ease;
    }

    .gallery img:hover {
      transform: scale(1.05);
      cursor: pointer;
    }

    .amazon-button,
    .autoreseditores-button {
      width: 60%;
      display: center;
      margin: 0 auto;
      padding-left: 80px;
      padding-right: 80px;
    }

    .amazon-text,
    .autoreseditores-text {
      width: 80%;
      display: center;
      margin: 0 auto;
      padding-left: 40px;
      padding-right: 40px;
      font-size: 0.875rem;
    }

    .bg-white {
      background-color: #ffffff;
    }

    .text-dark {
      color: #333333;
    }

    .text-versions {
      color: #0f0f0f;
    }


    @media (max-width: 767px) {
      .mobileimg {
        width: 60%;
      }

      .lead {
        font-size: 1.2rem;
      }
    }

    @media (min-width: 768px) {
      .mobileimg {
        width: 30%;
      }
    }
  </style>
</head>

<body class="bg-white text-black">
  <div class="bg-danger text-white fixed-top text-center d-flex align-items-center justify-content-center"
    style="height: 50px;">
    <p class="small font-weight-bold m-0">
      🎉 Regálale este libro a esa persona que tanto amas y regresen juntos en un bocado a Venezuela!
      <a href="#buyinfo" class="text-white font-weight-bold"
        style="text-decoration: underline;" >
        ¡Haz clic aquí!
      </a>
    </p>
  </div>

  <div class="container-fluid text-center p-5">
    <h1 class="title">10 PANES</h1>
    <h3 class="text-center text-black subtitle">... que te regresan a Venezuela</h3>
    <p class="lead">
      Este libro está diseñado para que te inicies en la Panadería Venezolana con 10 PANES... que te regresan a
      Venezuela. ¡Las recetas funcionan en casa!
      <br>
    </p>
    <img src="/images/libro/10-PANES/10-Panes.jpg" class="img-fluid rounded mobileimg" alt="Imagen del Libro">
    <br>
    <br>
    <a href="#buyinfo" 
      class="btn cta-button btn-lg mb-3">¡Quiero hacer Cachitos! <i class="fas fa-arrow-right"></i></a>
  </div>

  <!-- Beneficios del Libro -->
  <div class="container py-5">
    <h2 class="text-center mb-5 subtitle">¿Por qué este libro?</h2>
    <div class="row g-4">
      <div class="col-md-4">
        <div class="card h-100">
          <img src="/images/libro/10-PANES/1.jpg" class="card-img-top mx-auto" alt="Foto de Cachitos">
          <div class="card-body">
            <h5 class="card-title">Panes que te harán recordar</h5>
            <p class="card-text">El libro contiene los 10 PANES que te harán recordar Venezuela y lo especial
              que son nuestros panes.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100">
          <img src="/images/libro/10-PANES/18.jpg" class="card-img-top mx-auto" alt="Foto de Pan Francés">
          <div class="card-body">
            <h5 class="card-title">Recetas y fórmulas probadas</h5>
            <p class="card-text">Todas las recetas y fórmulas han sido probadas por nuestra comunidad en cocinas
              de varios lugares del mundo bajo distintas condiciones ambientales, con diversas marcas de ingredientes.
              ¡Las recetas funcionan en casa!</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100">
          <img src="/images/libro/10-PANES/Pinitas-03.jpg" class="card-img-top mx-auto" alt="Foto de Golfeado">
          <div class="card-body">
            <h5 class="card-title">
              Los panes de antes</h5>
            <p class="card-text">Aprenderás a hacer los panes más emblemáticos venezolanos. Podrás preparar unas Piñitas
              espectaculares.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Resumen del Contenido del Curso -->
  <div class="container py-5">
    <h2 class="text-center mb-5 subtitle">Lo que aprenderás</h2>
    <div class="row">
      <div class="col-md-6 mb-5">
        <h2>Tabla de contenido</h2>
        <div class="accordion" id="tableOfContentsAccordion">
          <!-- Chapter 1 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingZero">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseZero"
                aria-expanded="true" aria-controls="collapseZero">
                <i class="fas fa-bread-slice mr-10"></i>DEDICATORIA
              </button>
            </h2>
          </div>
          <!-- Chapter 2 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingZero1">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseZero1"
                aria-expanded="true" aria-controls="collapseZero1">
                <i class="fas fa-bread-slice mr-10"></i>INTRODUCCIÓN
              </button>
            </h2>
            <div id="collapseZero1" class="accordion-collapse collapse show" aria-labelledby="headingZero1"
              data-bs-parent="#tableOfContentsAccordion">
              <div class="accordion-body">
                <ul>
                  <li>Los Amigos Panarras</li>
                  <li>panesvenezolanos.com</li>
                  <li>¿Qué es el Pan?</li>
                  <li>¿Cuál es el proceso para elaborarlo?</li>
                  <li>Tipos de panes</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Chapter 3 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
                <i class="fas fa-bread-slice mr-10"></i>TÉCNICAS BÁSICAS
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
              data-bs-parent="#tableOfContentsAccordion">
              <div class="accordion-body">
                <ul>
                  <li>Ingredientes</li>
                  <li>Proceso de elaboración del Pan</li>
                  <li>El ambiente</li>
                  <li>Métodos para panificar</li>
                  <li>Los 12 pasos de la Panadería</li>
                  <li>Utensilios básicos</li>
                  <li>El horno casero</li>
                  <li>Fórmula panadera</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Chapter 4 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fas fa-leaf mr-10"></i> PANES SEMI RÚSTICOS
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#tableOfContentsAccordion">
              <div class="accordion-body">
                <ul>
                  <li>PAN CAMPESINO</li>
                  <li>PAN CANILLA</li>
                  <li>PAN FRANCÉS</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Chapter 5 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                aria-expanded="true" aria-controls="collapseThree">
                <i class="fas fa-bread-slice mr-10"></i>PANES SUAVES y RELLENOS
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#tableOfContentsAccordion">
              <div class="accordion-body">
                <ul>
                  <li>CACHITO</li>
                  <li>PAN CHINO</li>
                  <li>PAN DE JAMÓN</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                aria-expanded="true" aria-controls="collapseFour">
                <i class="fas fa-bread-slice mr-10"></i>PANES DULCES
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#tableOfContentsAccordion">
              <div class="accordion-body">
                <ul>
                  <li>GOLFEADO CARAQUEÑO</li>
                  <li>PAN DE COCO</li>
                  <li>PIÑITA/TUNJITA</li>
                  <li>TRENZA DE LECHE AZUCARADA</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingEight">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight"
                aria-expanded="true" aria-controls="collapseEight">
                <i class="fas fa-bread-slice mr-10"></i>AGRADECIMIENTOS
              </button>
            </h2>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingNine">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine"
                aria-expanded="true" aria-controls="collapseNine">
                <i class="fas fa-bread-slice mr-10"></i>CIERRE
              </button>
            </h2>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTen">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen"
                aria-expanded="true" aria-controls="collapseTen">
                <i class="fas fa-bread-slice mr-10"></i>REFERENCIAS
              </button>
            </h2>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <img src="/images/libro/10-PANES/26.jpg" class="img-fluid rounded" alt="Resumen del Contenido del libro">
      </div>
    </div>
  </div>


  <div id="buyinfo"></div>
  <!-- Prueba Social y Precios -->
  <div class="wbackground text-black">
    <div class="container py-2">
      <div class="row mb-4">
        <!-- Digital Version - Leanpub -->
        <div class="col-md-6 text-center">
          <h2 class="text-versions">Versión Digital</h2>
          <p>Disfruta de nuestro libro en formato digital y empieza a preparar tus Panes Venezolanos favoritos al
            instante.</p>
          <a href="https://leanpub.com/10panesqueteregresanavenezuela" target="_blank"
            class="btn cta-button btn-lg mb-3">Comprar en Leanpub <i class="fas fa-arrow-right"></i></a>

          <p>El precio es <strong>14.99 USD</strong></p>
          <p><strong>Nosotros preferimos</strong> la versión digital porque recibes <strong>todas las
              actualizaciones</strong>.</p>
          <p><strong>Garantía de 60 días:</strong> Leanpub ofrece una garantía de satisfacción completa o la devolución
            de tu dinero dentro de los 60 días de la compra.</p>
        </div>

        <!-- Printed Version - Amazon -->
        <div class="col-md-6 text-center">
          <h2>Versión Impresa</h2>
          <p>También disponible en formato físico a través de Amazon</p>

          <!-- Amazon Button with Logo -->
          <a href="https://a.co/d/bxMefDi" target="_blank"
            class="btn btn-outline-secondary btn-lg amazon-button d-flex align-items-center justify-content-center">
            <img src="/images/libro/Amazon_logo.svg" alt="Amazon Logo" style="height: 24px; margin-right: 10px;">
          </a>
          <p class="amazon-text mb-2">Disponible en todo el mundo.</p>
        </div>
      </div>
    </div>
  </div>



  <!-- Biografías de los Autores -->
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col text-center">
        <h2 class="subtitle">Sobre los autores</h2>
        <p>Conoce a los creadores del libro y su trayectoria.</p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Autor 1 -->
      <div class="col-md-4 mb-4">
        <img src="/images/libro/AR-HazPan.jpeg" style="width: 150px;" alt="Autor 1"
          class="img-fluid rounded-circle mb-3">
        <h4>Alexander A. Ramírez M.</h4>
        <p>Venezolano, creador del Lab Haz Pan en Casa, la aplicación
          <a href="https://hazpanen.casa" target="_blank">hazpanen.casa</a> y de la página
          <a href="https://panesvenezolanos.com" target="_blank">Panes Venezolanos</a>,
          Ingeniero con Maestría de profesión y apasionado por el Pan, graduado de Panadero en el IEPAN y
          LAGA y de Cocina en Le Concasse. Embajador del Pan por Venezuela.
        </p>
        <a href="https://instagram.com/hazpanencasa" target="_blank"><i class="fab fa-instagram"></i>hazpanencasa</a>
      </div>

      <!-- Autor 2 -->
      <div class="col-md-4 mb-4">
        <img src="/images/libro/JM-HazPan.JPG" style="width: 150px;" alt="Autor 2"
          class="img-fluid rounded-circle mb-3">
        <h4>Jesús Enrique Mendez Alvarez</h4>
        <p>Venezolano, Licenciado en Computación egresado de la UCV, especialista en panes artesanales rústicos caseros
        </p>
        <p>Co-creador de la página web
          <a href="https://panesvenezolanos.com" target="_blank">Panes Venezolanos</a>,
          Apasionado de la panadería casera, Panadero Profesional egresado de la GAPP Venezuela
          <a href="https://instagram.com/1painalafois" target="_blank"><i class="fab fa-instagram"></i> 1painalafois</a>
      </div>

      <!-- Autor 3 -->
      <div class="col-md-4 mb-4">
        <img src="/images/libro/LG-HazPan.JPG" style="width: 150px;" alt="Fotógrafa"
          class="img-fluid rounded-circle mb-3">
        <h4>Luisa Guillermina González Pérez</h4>
        <p>Venezolana, Fotógrafa Culinaria profesional en Montreal, Canadá</p>
        <p>
          Médico Oftalmólogo Pediatra egresada de la UCV, apasionada de la cocina, pastelera casera con más de 20 años
          de experiencia!
          <a href="https://instagram.com/luisagonzalez" target="_blank"><i class="fab fa-instagram"></i>
            luisagonzalezp</a>
      </div>
    </div>
  </div>

  <!-- Testimonios -->
  <div class="container py-5">
    <h2 class="text-center mb-5 subtitle">Testimonios</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">"UN LIBRO SIN DESPERDICIO"</h5>
            <p class="card-text">"El libro no tiene desperdicio, excelente lo que he leído hasta ahora... No sé guardan
              ningún secreto...
              Felicitaciones!!! Hay algunos secretos que yo he descubierto en cursos que he hecho y los encontré en el
              libro"</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">- Rubén Eduardo Hernández Ystúriz</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">"EXCELENTE LIBRO!"</h5>
            <p class="card-text">"Ha sido una ayuda incommesurable para mi aprendizaje. Con la técnica descrita
              para hacer el pan Canilla que es muy diferente a la que venia aplicando, mi producto mejoró de manera
              exponencial."
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">- Rafael Ponce</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">"PRIMERA VEZ, Y FUE UN ÉXITO!"</h5>
            <p class="card-text">"Primera vez que hago pan francés, que es como le decimos los venezolanos a estas
              hogazas de pan. El sabor idéntico al que atesoro en mis recuerdos de las panaderías caraqueñas. La corteza
              suave, aunque creo que la prefiero un poquito más crujiente. La miga de dioses."</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">- Enriqueta Lemoine</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Testimonios visuales -->
  <div class="container py-5">
    <h2 class="text-center mb-5 subtitle">Resultados de nuestros lectores</h2>
    <div class="row" id="testimonial-grid">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card">
          <img src="/images/libro/dunia-pan-de-coco.JPG" class="card-img-top" alt="Placeholder Image">
          <div class="card-body">
            <h5 class="card-title">"Exhaustivo y atractivo"</h5>
            <p class="card-text">"Los capítulos están muy bien estructurados, las fotos son profesionales, lo que hace
              que aprender a hacer panes en casa sea
              un verdadero placer."</p>
            <small class="text-muted">- Dunia Morales, Emprendedora</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card">
          <img src="/images/libro/claudia-pan-chino.JPG" class="card-img-top" alt="Placeholder Image">
          <div class="card-body">
            <h5 class="card-title">"¡Anímate a hacer Panes Venezolanos en Casa!"</h5>
            <p class="card-text">"En este libro encontrarás los panes que recuerdas de tu infancia,
              los que tenemos en la memoria y es maravilloso poder lograr esos sabores en casa.
              Hacer pan para mí ha sido una maravilla y poder compartirlo con mi familia,
              amigos y conocidos es todo un placer. Las instrucciones están muy bien detalladas,
              la calculadora te ayuda a lograr la cantidad de panes que quieras hacer y
              lo mejor de todo es que los autores pueden resolver las dudas que tengas."</p>
            <small class="text-muted">- Claudia Raga Sanz</small>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Encabezado y Visuales Atractivos -->
  <div class="container-fluid text-center p-5">
    <div class="row mb-5 align-items-center">
      <div class="col-md-6 text-center">
        <img src="/images/libro/10-PANES/7.jpg" class="img-fluid rounded mb-3" alt="Golfeados"
          style="max-height: 600px;">
      </div>
      <div class="col-md-6 text-center text-md-start">
        <h2 class="subtitle">Prueba de nuevo un Golfeado</h2>
        <p class="lead">Descubre cómo preparar unos espectaculares Golfeados y emociónate con los sabores que vas a
          lograr.</p>
        <br>
        <a href="#buyinfo" 
          class="btn cta-button btn-lg mb-3">¡Quiero hacer Golfeados! <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </div>


  <div class="container my-5">
    <h2 class="text-center mb-4 subtitle">Galería de imágenes</h2>
    <div class="row g-3">
      <!-- Image with Title and Modal Trigger -->
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card">
          <!-- Modal Trigger -->
          <a href="#" data-toggle="modal" data-target="" data-title="Cachito">
            <!-- Image -->
            <img src="/images/libro/10-PANES/1.jpg" class="card-img-top img-fluid" alt="Cachito">
            <!-- Title -->
            <div class="card-body">
              <h5 class="card-title">Cachito</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card">
          <!-- Modal Trigger -->
          <a href="#" data-toggle="modal" data-target="#exampleModal" data-title="Golfeado">
            <!-- Image -->
            <img src="/images/libro/10-PANES/7.jpg" class="card-img-top img-fluid" alt="Golfeado">
            <!-- Title -->
            <div class="card-body">
              <h5 class="card-title">Golfeado</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card">
          <!-- Modal Trigger -->
          <a href="#" data-toggle="modal" data-target="#exampleModal" data-title="Pan Francés">
            <!-- Image -->
            <img src="/images/libro/10-PANES/18.jpg" class="card-img-top img-fluid" alt="Pan Francés">
            <!-- Title -->
            <div class="card-body">
              <h5 class="card-title">Pan Francés</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card">
          <!-- Modal Trigger -->
          <a href="#" data-toggle="modal" data-target="#exampleModal" data-title="Pan de Coco">
            <!-- Image -->
            <img src="/images/libro/10-PANES/23.jpg" class="card-img-top img-fluid" alt="Pan de Coco">
            <!-- Title -->
            <div class="card-body">
              <h5 class="card-title">Pan de Coco</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card">
          <!-- Modal Trigger -->
          <a href="#" data-toggle="modal" data-target="#exampleModal" data-title="Pan de Jamón">
            <!-- Image -->
            <img src="/images/libro/10-PANES/26.jpg" class="card-img-top img-fluid" alt="Pan de Jamón">
            <!-- Title -->
            <div class="card-body">
              <h5 class="card-title">Pan de Jamón</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card">
          <!-- Modal Trigger -->
          <a href="#" data-toggle="modal" data-target="#exampleModal" data-title="Pan Campesino">
            <!-- Image -->
            <img src="/images/libro/10-PANES/31.jpg" class="card-img-top img-fluid" alt="Pan Campesino">
            <!-- Title -->
            <div class="card-body">
              <h5 class="card-title">Pan Campesino</h5>
            </div>
          </a>
        </div>
      </div>
      <!-- Add more images with titles and modal triggers -->
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card">
          <!-- Modal Trigger -->
          <a href="#" data-toggle="modal" data-target="#exampleModal" data-title="Trenza de Leche ">
            <!-- Image -->
            <img src="/images/libro/10-PANES/34.jpg" class="card-img-top img-fluid" alt="Trenza de Leche">
            <!-- Title -->
            <div class="card-body">
              <h5 class="card-title">Trenza de Leche</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card">
          <!-- Modal Trigger -->
          <a href="#" data-toggle="modal" data-target="#exampleModal" data-title="Pan Chino ">
            <!-- Image -->
            <img src="/images/libro/Haz-Panes-Venezolanos-en-Casa/4.png" class="card-img-top img-fluid"
              alt="Libro, Pan Chino">
            <!-- Title -->
            <div class="card-body">
              <h5 class="card-title">Pan Chino</h5>
            </div>
          </a>
        </div>
      </div>
      <!-- Repeat the above structure for additional images with titles -->
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-black" id="exampleModalLabel">¡Haz este Pan en Casa!</h5>
        </div>
        <div class="modal-body text-center">
          <!-- Image -->
          <img src="/images/libro/libro_cover.jpg" class="img-fluid" alt="Libro Imagen">
        </div>
      </div>
    </div>
  </div>

  <!-- Table of Contents -->
  <div class="container-fluid p-5">
    <div class="row ">
      <div class="col-md-6 text-center pb-5">
        <img src="/images/libro/10-PANES/canillas-8.jpg" class="img-fluid rounded" alt="Preguntas frecuentes">
      </div>
      <div class="col-md-6">
        <h2 class="subtitle">Preguntas frecuentes</h2>
        <div class="accordion" id="tableOfContentsAccordion">
          <!-- Pregunta 1 -->
          <div class="accordion-item">
            <h2 class="accordion-header " id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUno"
                aria-expanded="true" aria-controls="collapseUno">
                <i class="fas fa-bread-slice mr-10"></i> ¿Qué es Leanpub?
              </button>
            </h2>
            <div id="collapseUno" class="accordion-collapse collapse show" aria-labelledby="headingUno"
              data-bs-parent="#tableOfContentsAccordion">
              <div class="accordion-body">
                <ul>
                  <li>Es la plataforma que permite publicar los libros y realizar entregas
                    progresivas.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Pregunta 2 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseDos" aria-expanded="false" aria-controls="collapseDos">
                <i class="fas fa-leaf mr-10"></i> ¿Cómo hago para comprar el libro?
              </button>
            </h2>
            <div id="collapseDos" class="accordion-collapse collapse" aria-labelledby="headingDos"
              data-bs-parent="#tableOfContentsAccordion">
              <div class="accordion-body">
                <ul>
                  <li>Primero ingresa a la página <a href="https://leanpub.com/" target="_blank"> leanpub.com</a> y
                    regístrate.</li>
                  <li>Luego entra a la <a href="https://leanpub.com/10panesqueteregresanavenezuela/" target="_blank">
                      página del libro</a> y baja las barritas del precio al mínimo permitido.</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Pregunta 3 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTres" aria-expanded="false" aria-controls="collapseTres">
                <i class="fas fa-leaf mr-10"></i> ¿Cuando compro el libro, que recibo a cambio?
              </button>
            </h2>
            <div id="collapseTres" class="accordion-collapse collapse" aria-labelledby="headingTres"
              data-bs-parent="#tableOfContentsAccordion">
              <div class="accordion-body">
                <ul>
                  <li>El libro esta listo. Cuando compras el libro recibes de inmediato por correo electrónico un enlace
                    para descargar la última edición digital publicada.
                    Tienes garantizada de por vida el acceso gratuito a todas las actualizaciones que haremos al
                    contenido del libro.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Pregunta 4 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="preguntasCuatro">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseCuatro" aria-expanded="false" aria-controls="collapseCuatro">
                <i class="fas fa-leaf mr-10"></i> ¿Y si se actualiza el contenido del libro, como la recibo y por cuál
                vía?
              </button>
            </h2>
            <div id="collapseCuatro" class="accordion-collapse collapse" aria-labelledby="collapseCuatro"
              data-bs-parent="#tableOfContentsAccordion">
              <div class="accordion-body">
                <ul>
                  <li>Cuando que publiquemos una actualización del libro, recibirás un (1) correo electrónico con un
                    enlace para
                    descargar en tu dispositivo electrónico de preferencia, la nueva edición del libro en formato PDF.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Pregunta 5 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="preguntasCinco">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseCinco" aria-expanded="false" aria-controls="collapseCinco">
                <i class="fas fa-leaf mr-10"></i> ¿Si vivo en Venezuela, puedo comprar el libro impreso?
              </button>
            </h2>
            <div id="collapseCinco" class="accordion-collapse collapse" aria-labelledby="collapseCinco"
              data-bs-parent="#tableOfContentsAccordion">
              <div class="accordion-body">
                <ul>
                  <li>Sí lo puedes hacer. Envia un mensaje via instagram a
                    <a href="https://instagram.com/saboresdeaca" target="_blank"><i
                        class="fab fa-instagram"></i>@saboresdeaca</a>
                    y ellas te daran los detalles para adquirir tu libro impreso.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Pregunta 6 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="Six">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSeis" aria-expanded="false" aria-controls="collapseSeis">
                <i class="fas fa-leaf mr-10"></i> ¿Y si ya compré la versión digital del libro, me dan descuento al comprar la versión impresa?
              </button>
            </h2>
            <div id="collapseSeis" class="accordion-collapse collapse" aria-labelledby="headingSeis"
              data-bs-parent="#tableOfContentsAccordion">
              <div class="accordion-body">
                <ul>
                  <li>En estos momentos, no existe la opción de ofrecer precios con descuento para los lectores que compren las versiones impresas disponibles en Amazon y AutoresEditores.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Additional chapters... -->
        </div>
      </div>
    </div>
  </div>

  <!-- Prueba Social y Precios -->
  <div class="wbackground bg-white text-dark">
    <div class="container py-2">
      <div class="row mb-4">
        <!-- Digital Version - Leanpub -->
        <div class="col-md-6 text-center">
          <h2 class="text-versions">Versión Digital</h2>
          <p>Disfruta de nuestro libro en formato digital y empieza a preparar tus Panes Venezolanos favoritos al
            instante.</p>
            <a href="https://leanpub.com/10panesqueteregresanavenezuela" target="_blank"
            class="btn cta-button btn-lg mb-3">Comprar en Leanpub <i class="fas fa-arrow-right"></i></a>

          <p>El precio es <strong>14.99 USD</p>
          <p><strong>Nosotros preferimos</strong> la versión digital porque recibes <strong>todas las
              actualizaciones</strong>.</p>
          <p><strong>Garantía de 60 días:</strong> Leanpub ofrece una garantía de satisfacción completa o la devolución
            de tu dinero dentro de los 60 días de la compra.</p>
        </div>

        <!-- Printed Versions - Amazon and Autoreseditores -->
        <div class="col-md-6 text-center">
          <h2 class="text-versions">Versiones Impresas</h2>
          <p>También disponible en formato físico a través de Amazon y autoreseditores.com.</p>

          <!-- Amazon Button with Logo -->
          <a href="https://www.amazon.com/" target="_blank"
            class="btn btn-outline-secondary btn-lg amazon-button d-flex align-items-center justify-content-center">
            <img src="/images/libro/Amazon_logo.svg" alt="Amazon Logo" style="height: 24px; margin-right: 10px;">
          </a>
          <p class="amazon-text mb-2">Disponible en todo el mundo.</p>

          <!-- Autoreseditores Button with Logo -->
          <a href="https://www.autoreseditores.com/libro/28175/alexander-a-ramirez-m-y-jesus-enrique-mendez-a/10-panes-que-te-regresan-a-venezuela.html"
            target="_blank"
            class="btn btn-outline-secondary btn-lg autoreseditores-button d-flex align-items-center justify-content-center">
            <img src="/images/libro/autoreseditores-com.svg" alt="Autoreseditores Logo"
              style="height: 24px; margin-right: 10px;">
          </a>
          <p class="autoreseditores-text mb-2">Si estás en Colombia, Venezuela, Ecuador, Argentina, esta puede ser una mejor opción.</p>

          <p>El <strong>precio</strong> puede variar según la plataforma.</p>
        </div>


      </div>
    </div>
  </div>

  <!-- Scroll to Top -->
  {% include scrollToTop.html %}

  <!-- Pie de Página -->
  {% include footer.html %}

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var cards = document.querySelectorAll('.card');
      cards.forEach(function (card) {
        card.addEventListener('click', function (event) {
          event.preventDefault();
          var title = card.querySelector('a').getAttribute('data-title');
          var modalTitle = document.querySelector('.modal-title');
          modalTitle.textContent = title;

          var modalImg = document.querySelector('.modal-body img');
          var imgSrc = card.querySelector('img').getAttribute('src');
          modalImg.setAttribute('src', imgSrc);

          $('#exampleModal').modal('show');
        });
      });
    });
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  {% include grow.html %}
</body>

</html>