<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Compra Nuestro Libro de Panadería Casera</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

  <style>
    .cta-button {
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
    }

    .cta-button:hover {
      background-color: #0056b3;
      color: white;
    }

    .mr-10 {
      margin-right: 10px;
    }
  </style>
</head>

<body class="bg-white text-black">

  <!-- Sección Hero -->
  <div class="container-fluid text-center p-5">
    <h1 class="display-4">¡Haz Panes Venezolanos en Casa!</h1>
    <p class="lead">
      Reproduce los sabores que recuerdas de tu infancia y
      compártelos. <br> Prepara Panes Venezolanos saludables y espectaculares. 
      Emprende, comparte y disfruta.</p>
    <img src="/images/libro/libro_cover.jpg" class="img-fluid rounded w-50 h-50" alt="Imagen del Libro">
    <br>
    <br>
    <a href="https://leanpub.com/hazpanesvenezolanosencasavol1" class="btn cta-button btn-lg mb-3">Comprar ahora <i class="fas fa-arrow-right"></i></a>
  </div>

  <!-- Beneficios del Libro -->
  <div class="container py-5">
    <h2 class="text-center mb-5">¿Por qué este libro?</h2>
    <div class="row g-4">
      <div class="col-md-4">
        <div class="card h-100">
          <img src="/images/libro/libro_cachitos.jpg" class="card-img-top mx-auto" alt="Beneficio 1">
          <div class="card-body">
            <h5 class="card-title">La referencia más completa</h5>
            <p class="card-text">El libro comprende más de sesenta recetas y
              fórmulas con preparaciones de oriente a occidente y del norte a los llanos venezolanos.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-96">
          <img src="/images/libro/libro_mosaicosandwich.jpg" class="card-img-top mx-auto" alt="Beneficio 2">
          <div class="card-body">
            <h5 class="card-title">Técnicas artesanales</h5>
            <p class="card-text">Aprenderás a hacer los planes clásicos venezolanos y más. Desde los Panes Andinos con los métodos
              artesanales de tradición hasta el fabuloso Pan de Jamón.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100">
          <img src="/images/libro/libro_frances.jpg" class="card-img-top mx-auto" alt="Beneficio 3">
          <div class="card-body">
            <h5 class="card-title">Recetas y fórmulas probadas</h5>
            <p class="card-text">Todas las recetas y fórmulas han sido probadas en cocinas
             de varios lugares del mundo bajo distintas condiciones ambientales, con diversas marcas de ingredientes.</p>
          </div>
        </div>
      </div>
     
    </div>
  </div>

  <!-- Resumen del Contenido del Curso -->
  <div class="container py-5">
    <h2 class="text-center mb-5">Lo que aprenderás</h2>
    <div class="row">
      <div class="col-md-6 mb-5">
        <h2>Tabla de contenido</h2>
        <div class="accordion" id="tableOfContentsAccordion">
          <!-- Chapter 1 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <i class="fas fa-bread-slice mr-10"></i> Capítulo 1: Introducción a la Panadería
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#tableOfContentsAccordion">
              <div class="accordion-body">
                <ul>
                  <li>Historia del Pan</li>
                  <li>Tipos de Pan</li>
                  <li>Herramientas Esenciales</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Chapter 2 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fas fa-leaf mr-10"></i> Capítulo 2: Ingredientes Naturales
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#tableOfContentsAccordion">
              <div class="accordion-body">
                <ul>
                  <li>Harinas</li>
                  <li>Levaduras y Masa Madre</li>
                  <li>Aditivos Naturales</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Additional chapters... -->
        </div>
      </div>
      <div class="col-md-6 text-center">
        <img src="/images/libro/libro_cover.jpg" class="img-fluid rounded" alt="Resumen del Contenido del libro">
      </div>
    </div>
  </div>

  <!-- Prueba Social y Precios -->
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-md-6">
        <h2>Únete a la comunidad de lectores satisfechos</h2>
        <p>Ya más de 100 lectores han transformado su panadería con nuestro libro. 
          Han aprendido a realizar panes de toda venezuela e inclusive han iniciado el camino de emprender.</p>
      </div>
      <div class="col-md-6">
        <h2>Precio</h2>
        <p>Nuestro libro está disponible por 9,99 USD. Explora nuestras opciones de pago.</p>
        <a href="https://leanpub.com/hazpanesvenezolanosencasavol1" class="btn cta-button btn-lg mb-3">¡Lo quiero ya! <i class="fas fa-arrow-right"></i></a>
        <p><strong>Garantía de 60 días</strong> 
          La plataforma Leanpub ofrece una garantía de satisfacción completa o la
          devolución de tu dinero dentro de los 60 días de la compra.</p>
      </div>
    </div>
  </div>

  <!-- Biografías de los Autores -->
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col text-center">
        <h2>Sobre los autores</h2>
        <p>Conoce a los creadores del libro y su trayectoria.</p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Autor 1 -->
      <div class="col-md-4 mb-4">
        <img src="https://via.placeholder.com/150" alt="Autor 1" class="img-fluid rounded-circle mb-3">
        <h4>Alexander A. Ramírez M.</h4>
        <p>Venezolano, creador del Lab Haz Pan en Casa, la aplicación
          <a href="https://hazpanen.casa" target="_blank">hazpanen.casa</a> y de la página
          <a href="https://panesvenezolanos.com" target="_blank">Panes Venezolanos</a>,
          Ingeniero con Maestría de profesión y apasionado por el Pan, graduado de Panadero en el IEPAN y
          LAGA y de Cocina en Le Concasse.
        </p>
        <a href="https://instagram.com/hazpanencasa" target="_blank"><i class="fab fa-instagram"></i>hazpanencasa</a>
      </div>

      <!-- Autor 2 -->
      <div class="col-md-4 mb-4">
        <img src="https://via.placeholder.com/150" alt="Autor 2" class="img-fluid rounded-circle mb-3">
        <h4>Jesús Enrique Mendez Alvarez</h4>
        <p>Venezolano - Canadiense, experto en panes artesanales rústicos hechos en casa</p>
        <p>co-creador de la página web
        <a href="https://panesvenezolanos.com" target="_blank">Panes Venezolanos</a>,
        Licenciado en Computación, y apasionado de la panadería, graduado de Panadero en la GAPP
        <a href="https://instagram.com/1painalafois" target="_blank"><i class="fab fa-instagram"></i> 1painalafois</a>
      </div>

      <!-- Autor 3 -->
      <div class="col-md-4 mb-4">
        <img src="https://via.placeholder.com/150" alt="Fotógrafa" class="img-fluid rounded-circle mb-3">
        <h4>Luisa Guillermina González Pérez</h4>
        <p>Venezolana - Canadiense, Fotógrafa culinaria profesional</p>
        <p>
        Médico Oftalmologo Pediatra egresada de la UCV, apasionado de la cocina, experta en pastelería 
        <a href="https://instagram.com/luisagonzalez" target="_blank"><i class="fab fa-instagram"></i> luisagonzalezp</a>
      </div>
    </div>
  </div>

  <!-- Testimonios -->
  <div class="container py-5">
    <h2 class="text-center mb-5">Testimonios</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">"Una experiencia transformadora"</h5>
            <p class="card-text">"Gracias a este curso, conseguí el trabajo de mis sueños. ¡Muy recomendable!"</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">- Claudia Raga, Panadera Casera</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">"Exhaustivo y atractivo"</h5>
            <p class="card-text">"Las lecciones están bien estructuradas y son atractivas, lo que hace que aprender sea
              un
              placer."</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">- Dunia Morales, Emprendedora</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">"La mejor referencia"</h5>
            <p class="card-text">"Las lecciones están bien estructuradas y son atractivas, lo que hace que aprender sea
              un
              placer."</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">- Alba, Panadera Casera</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Testimonios visuales -->
  <div class="container py-5">
    <h2 class="text-center mb-5">Resultados de nuestros lectores</h2>
    <div class="row" id="testimonial-grid">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/600x400" class="card-img-top" alt="Placeholder Image">
          <div class="card-body">
            <h5 class="card-title">"Una Experiencia Transformadora"</h5>
            <p class="card-text">"Gracias a este curso, conseguí el trabajo de mis sueños. ¡Muy recomendable!"</p>
            <small class="text-muted">- Alba , Panadera Casera</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/400x600" class="card-img-top" alt="Placeholder Image">
          <div class="card-body">
            <h5 class="card-title">"Exhaustivo y Atractivo"</h5>
            <p class="card-text">"Las lecciones están bien estructuradas y son atractivas, lo que hace que aprender sea
              un placer."</p>
            <small class="text-muted">- John Smith, Graduado</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/800x400" class="card-img-top" alt="Placeholder Image">
          <div class="card-body">
            <h5 class="card-title">"Increíble Aprendizaje"</h5>
            <p class="card-text">"Este curso superó mis expectativas. ¡Aprendí tanto en tan poco tiempo!"</p>
            <small class="text-muted">- María Pérez, Estudiante</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/800x400" class="card-img-top" alt="Placeholder Image">
          <div class="card-body">
            <h5 class="card-title">"Increíble Aprendizaje"</h5>
            <p class="card-text">"Este curso superó mis expectativas. ¡Aprendí tanto en tan poco tiempo!"</p>
            <small class="text-muted">- María Pérez, Estudiante</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/400x600" class="card-img-top" alt="Placeholder Image">
          <div class="card-body">
            <h5 class="card-title">"Exhaustivo y Atractivo"</h5>
            <p class="card-text">"Las lecciones están bien estructuradas y son atractivas, lo que hace que aprender sea
              un placer."</p>
            <small class="text-muted">- John Smith, Graduado</small>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Encabezado y Visuales Atractivos -->
  <div class="container-fluid text-center p-5">
    <div class="row mb-5 align-items-center">
      <div class="col-md-6 text-center">
        <img src="/images/libro/libro_cover.jpg" class="img-fluid mb-3" alt="Portada del libro"
          style="max-height: 600px;">
      </div>
      <div class="col-md-6 text-center text-md-start">
        <h1 class="display-4">Eleva tus panes</h1>
        <p class="lead">Descubre los secretos de la panadería artesanal venezolana 
          y lleva tus habilidades al próximo nivel con
          técnicas y recetas probadas.</p>
        <br>
        <a href="#enroll" class="btn cta-button btn-lg mb-3">¡Quiero el libro! <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </div>


  <div class="container my-5">
    <h2 class="text-center mb-4">Galería de imágenes</h2>
    <div class="row g-4">
      <!-- Image with Title and Modal Trigger -->
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card">
          <!-- Modal Trigger -->
          <a href="#" data-toggle="modal" data-target="https://panesvenezolanos.com/panes-venezolanos/pan-de-jamon/" data-title="Pan Canilla">
            <!-- Image -->
            <img src="/images/libro/libro_canillas.jpg" class="card-img-top img-fluid" alt="Libro, Pan Canilla">
            <!-- Title -->
            <div class="card-body">
              <h5 class="card-title">Pan Canilla</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card">
          <!-- Modal Trigger -->
          <a href="#" data-toggle="modal" data-target="#exampleModal" data-title="Pan Chino">
            <!-- Image -->
            <img src="/images/libro/libro_chinos.jpeg" class="card-img-top img-fluid" alt="Libro, Pan Chino">
            <!-- Title -->
            <div class="card-body">
              <h5 class="card-title">Pan Chino</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card">
          <!-- Modal Trigger -->
          <a href="#" data-toggle="modal" data-target="#exampleModal" data-title="Pan de Yuca">
            <!-- Image -->
            <img src="/images/libro/libro_yuca.jpg" class="card-img-top img-fluid" alt="Libro, Pan de Yuca">
            <!-- Title -->
            <div class="card-body">
              <h5 class="card-title">Pan de Yuca</h5>
            </div>
          </a>
        </div>
      </div>
      <!-- Add more images with titles and modal triggers -->
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card">
          <!-- Modal Trigger -->
          <a href="#" data-toggle="modal" data-target="#exampleModal" data-title="Pan de Coco">
            <!-- Image -->
            <img src="/images/libro/libro_coco.jpg" class="card-img-top img-fluid" alt="Libro, Pan de Coco">
            <!-- Title -->
            <div class="card-body">
              <h5 class="card-title">Pan de Coco </h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card">
          <!-- Modal Trigger -->
          <a href="#" data-toggle="modal" data-target="#exampleModal" data-title="Pan de Hamburguesa">
            <!-- Image -->
            <img src="/images/libro/libro_hamburguesa.jpg" class="card-img-top img-fluid" alt="Libro, Pan de Hamburguesa">
            <!-- Title -->
            <div class="card-body">
              <h5 class="card-title">Pan de Hamburguesa</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
          <div class="card">
          <!-- Modal Trigger -->
          <a href="#" data-toggle="modal" data-target="#exampleModal" data-title="Pan Francés">
          <!-- Image -->
          <img src="/images/libro/libro_frances.jpg" class="card-img-top img-fluid" alt="Libro, Pan Francés">
              <!-- Title -->
              <div class="card-body">
                <h5 class="card-title">Pan de Francés</h5>
              </div>
            </a>
          </div>
        </div>
           <!-- Add more images with titles and modal triggers -->
           <div class="col-6 col-md-4 col-lg-3">
            <div class="card">
              <!-- Modal Trigger -->
              <a href="#" data-toggle="modal" data-target="#exampleModal" data-title="Pan de Sandwich">
                <!-- Image -->
                <img src="/images/libro/libro_sandwich.jpg" class="card-img-top img-fluid" alt="Libro, Pan de Sandwich">
                <!-- Title -->
                <div class="card-body">
                  <h5 class="card-title">Pan de Sandwich</h5>
                </div>
              </a>
            </div>
          </div>
      <!-- Repeat the above structure for additional images with titles -->
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-black" id="exampleModalLabel">¡Haz este Pan en Casa!</h5>
        </div>
        <div class="modal-body text-center">
          <!-- Image -->
          <img src="/images/libro/libro_cover.jpg" class="img-fluid" alt="Libro Imagen">
        </div>
      </div>
    </div>
  </div>

  <!-- Table of Contents -->
  <div class="container-fluid p-5">
    <div class="row">
      <div class="col-md-6 text-center pb-5">
        <img src="/images/libro/libro_mosaicochino.jpg" class="img-fluid rounded" alt="Preguntas frecuentes">
      </div>
      <div class="col-md-6">
        <h2>Preguntas frecuentes</h2>
        <div class="accordion" id="tableOfContentsAccordion">
          <!-- Chapter 1 -->
          <div class="accordion-item">
            <h2 class="accordion-header " id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <i class="fas fa-bread-slice mr-10"></i> ¿Qué es Leanpub?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#tableOfContentsAccordion">
              <div class="accordion-body">
                <ul>
                  <li>Es la plataforma que permite publicar los libros y realizar entregas 
                    progresivas.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Chapter 2 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fas fa-leaf mr-10"></i> ¿Cómo hago para comprar el libro?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#tableOfContentsAccordion">
              <div class="accordion-body">
                <ul>
                  <li>Entra a la página y baja las barritas del precio al mínimo permitido.</li>
                </ul>
              </div>
            </div>
          </div>
         <!-- Pregunta 3 -->
         <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <i class="fas fa-leaf mr-10"></i> ¿Si vivo en Venezuela, puedo pagar el libro en Bolívares?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#tableOfContentsAccordion">
            <div class="accordion-body">
              <ul>
                <li>Sí via Pago Movil lo puedes hacer. Envia un mensaje via instagram a 
                  <a href="https://instagram.com/1painalafois" target="_blank"><i class="fab fa-instagram"></i>1painalafois</a>
                  y te daremos los datos de la cuenta y el precio al cambio del día en Bolívares.
                </li>
                <li>Una vez que hayas depositado el dinero, envias una foto de tu comprobante de pago por mensaje a @1painalafois</li>
                <li>Te daremos el enlace para que descargues tu copia digital del libro desde leanpub</li>
                <li>Una vez que completes el proceso de compra de tu libro en leanpub, recibiras por correo electrónico el enlace para descargarlo.</li>
              </ul>
            </div>
          </div>
        </div>
          <!-- Additional chapters... -->
        </div>
      </div>
    </div>
  </div>

  <!-- Precios e Inscripción -->
  <div class="container py-5">
    <h2 class="text-center mb-5" id="enroll">Compra el libro ahora e inicia tu camino...</h2>
    <div class="text-center">
      <h3 class="mb-4">9,99$ <small class="fw-light">/ acceso de por vida</small></h3>
      <p>¡Aprovecha la oferta introductoria que estará disponible hasta el 30 de abril!</p>
      <a href="#enroll" class="btn cta-button btn-lg mb-3">¡Comprar el libro ahora! <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>

  <!-- Pie de Página -->
  <footer class="container-fluid text-center p-3">
    <p>¡Síguenos en redes sociales para más actualizaciones!</p>
    <a href="https://instagram.com/hazpanencasa" class="text-white me-2"><i class="fab fa-instagram"></i></a>
    <a href="https://instagram.com/1painalafois" class="text-white me-2"><i class="fab fa-instagram"></i></a>
    <p>©️ 2024 Panes Venezolanos. Todos los derechos reservados.</p>
  </footer>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var cards = document.querySelectorAll('.card');
      cards.forEach(function (card) {
        card.addEventListener('click', function (event) {
          event.preventDefault();
          var title = card.querySelector('a').getAttribute('data-title');
          var modalTitle = document.querySelector('.modal-title');
          modalTitle.textContent = title;

          var modalImg = document.querySelector('.modal-body img');
          var imgSrc = card.querySelector('img').getAttribute('src');
          modalImg.setAttribute('src', imgSrc);

          $('#exampleModal').modal('show');
        });
      });
    });
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  {% include grow.html %}
</body>

</html>